{
  "openapi": "3.1.0",
  "info": {
    "title": "Events API",
    "description": "Public API for managing event types",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.novacal.io"
    }
  ],
  "security": [
    {
      "bearerAuth": [] 
    }
  ],
  "paths": {
    "/v1/event-types": {
      "get": {
        "description": "Returns all event types that the user has access to",
        "responses": {
          "200": {
            "description": "Event types response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new event type",
        "requestBody": {
          "description": "Event type to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewEventType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Event type created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/event-types/{id}": {
      "get": {
        "description": "Returns a single event type by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of event type",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event type response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Event type not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates an existing event type",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of event type to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Event type data to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewEventType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Event type updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Event type not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single event type by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of event type to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Event type deleted successfully (no content)"
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Event type not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams": {
      "get": {
        "description": "Returns all teams that the user is a member of",
        "responses": {
          "200": {
            "description": "Teams response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new team",
        "requestBody": {
          "description": "Team to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTeam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Team created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{id}": {
      "get": {
        "description": "Returns a single team by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of team",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Team not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates an existing team",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of team to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Team data to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTeam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Team updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Team not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single team by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of team to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Team deleted successfully (no content)"
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Team not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/me": {
      "get": {
        "description": "Returns information about the currently authenticated user",
        "responses": {
          "200": {
            "description": "User response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates information about the currently authenticated user",
        "requestBody": {
          "description": "User data to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events": {
      "get": {
        "description": "Returns all events that the user has access to",
        "responses": {
          "200": {
            "description": "Events response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/{id}": {
      "get": {
        "description": "Returns a single event by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of event",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single event by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of event to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Event deleted successfully (no content)"
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EventType": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier of the event type",
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "description": "The name of the event type",
            "type": "string",
            "maxLength": 55
          },
          "slug": {
            "description": "The URL-friendly identifier",
            "type": "string",
            "maxLength": 80
          },
          "description": {
            "description": "Description of the event type",
            "type": "string",
            "maxLength": 5000
          },
          "type": {
            "description": "The type of event",
            "type": "string",
            "enum": ["one_on_one", "group", "round_robin", "collective"]
          },
          "duration": {
            "description": "Duration in minutes",
            "type": "integer",
            "minimum": 1,
            "maximum": 1440
          },
          "max_group_size": {
            "description": "Maximum group size (required for group type)",
            "type": "integer",
            "minimum": 2,
            "maximum": 10
          },
          "hidden_from_profile": {
            "description": "Whether the event type is hidden from profile",
            "type": "boolean"
          },
          "color": {
            "description": "Color code in hex format",
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6})$"
          },
          "form_fields": {
            "description": "Array of active form fields for this event type",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormField"
            }
          }
        }
      },
      "FormField": {
        "type": "object",
        "properties": {
          "identifier": {
            "description": "Unique identifier for the form field",
            "type": "string"
          },
          "label": {
            "description": "Display label for the form field",
            "type": "string"
          },
          "type": {
            "description": "The type of form field (e.g., text, email, select)",
            "type": "string"
          },
          "placeholder": {
            "description": "Placeholder text for the form field",
            "type": "string"
          },
          "is_required": {
            "description": "Whether the form field is required",
            "type": "boolean"
          },
          "options": {
            "description": "Array of options for select/dropdown fields",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "required": ["success", "data"],
        "properties": {
          "success": {
            "description": "Indicates whether the request was successful",
            "type": "boolean",
            "example": true
          },
          "data": {
            "description": "The response data. Can be an object, array, or null",
            "oneOf": [
              {
                "$ref": "#/components/schemas/EventType"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EventType"
                }
              },
              {
                "$ref": "#/components/schemas/Team"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Team"
                }
              },
              {
                "$ref": "#/components/schemas/User"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "NewEventType": {
        "required": [
          "name",
          "slug",
          "type",
          "duration",
          "hidden_from_profile",
          "color"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the event type",
            "type": "string",
            "maxLength": 55
          },
          "slug": {
            "description": "The URL-friendly identifier (must be unique)",
            "type": "string",
            "maxLength": 80,
            "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
          },
          "description": {
            "description": "Description of the event type",
            "type": "string",
            "maxLength": 5000
          },
          "type": {
            "description": "The type of event",
            "type": "string",
            "enum": ["one_on_one", "group", "round_robin", "collective"]
          },
          "duration": {
            "description": "Duration in minutes",
            "type": "integer",
            "minimum": 1,
            "maximum": 1440
          },
          "max_group_size": {
            "description": "Maximum group size (required for group type, min: 2, max: 10)",
            "type": "integer",
            "minimum": 2,
            "maximum": 10
          },
          "hidden_from_profile": {
            "description": "Whether the event type is hidden from profile",
            "type": "boolean"
          },
          "color": {
            "description": "Color code in hex format (e.g., #FF5733)",
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6})$"
          },
          "team_id": {
            "description": "Team ID (required for collective type)",
            "type": "integer"
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier of the team",
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "description": "The name of the team",
            "type": "string",
            "maxLength": 55
          },
          "username": {
            "description": "The unique username for the team",
            "type": "string",
            "maxLength": 255
          },
          "about": {
            "description": "Description or about text for the team",
            "type": "string",
            "maxLength": 5000
          },
          "logo": {
            "description": "URL to the team's logo image",
            "type": "string",
            "nullable": true
          }
        }
      },
      "NewTeam": {
        "required": [
          "name",
          "username"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the team",
            "type": "string",
            "maxLength": 55
          },
          "username": {
            "description": "The unique username for the team (must be unique across teams and users)",
            "type": "string",
            "maxLength": 255,
            "pattern": "^[a-zA-Z0-9\\-\\_]+$"
          },
          "about": {
            "description": "Description or about text for the team",
            "type": "string",
            "maxLength": 5000
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier of the user",
            "type": "integer",
            "format": "int64"
          },
          "first_name": {
            "description": "The user's first name",
            "type": "string"
          },
          "last_name": {
            "description": "The user's last name",
            "type": "string"
          },
          "username": {
            "description": "The unique username for the user",
            "type": "string"
          },
          "email": {
            "description": "The user's email address",
            "type": "string",
            "format": "email"
          },
          "timezone": {
            "description": "The user's timezone",
            "type": "string"
          },
          "time_format": {
            "description": "The user's preferred time format",
            "type": "string"
          },
          "start_of_week": {
            "description": "The day that starts the week",
            "type": "string"
          },
          "avatar": {
            "description": "URL to the user's avatar image",
            "type": "string",
            "nullable": true
          }
        }
      },
      "UpdateUser": {
        "required": [
          "username",
          "email",
          "first_name",
          "timezone",
          "time_format",
          "start_of_week"
        ],
        "type": "object",
        "properties": {
          "username": {
            "description": "The unique username for the user (must be unique across users and teams)",
            "type": "string",
            "maxLength": 255,
            "pattern": "^[a-z0-9][a-z0-9\\-\\._]+[a-z0-9]$"
          },
          "email": {
            "description": "The user's email address (must be unique)",
            "type": "string",
            "format": "email",
            "maxLength": 255
          },
          "first_name": {
            "description": "The user's first name",
            "type": "string",
            "maxLength": 255
          },
          "last_name": {
            "description": "The user's last name",
            "type": "string",
            "maxLength": 255
          },
          "avatar": {
            "description": "Avatar image file (jpeg, png, jpg, svg, max 1024 KB)",
            "type": "string",
            "format": "binary"
          },
          "timezone": {
            "description": "The user's timezone (e.g., America/New_York)",
            "type": "string"
          },
          "time_format": {
            "description": "The user's preferred time format (12 or 24)",
            "type": "integer",
            "enum": [12, 24]
          },
          "start_of_week": {
            "description": "The day that starts the week (0 for Sunday, 1 for Monday)",
            "type": "integer",
            "enum": [0, 1]
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "success": {
            "description": "Indicates whether the request was successful",
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "description": "Error code identifying the type of error",
                "type": "string",
                "example": "VALIDATION_ERROR"
              },
              "message": {
                "description": "Human-readable error message",
                "type": "string",
                "example": "The given data was invalid."
              },
              "details": {
                "description": "Additional error details, typically validation errors",
                "type": "object",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}